<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Document</title>
  <link rel="stylesheet" href="css/style.css" />
  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- header -->
    <header class="d-flex">
      <div class="container">
        <img src="images/logo.png" />
      </div>
      <div class="filter">
        <select v-model="selectValue" name="" id="">
          <option value="All">All</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Metal">Metal</option>
          <option value="Jazz">Jazz</option>
        </select>
      </div>
    </header>
    <!-- main -->
    <main class="container">
      <section id="album-container">
        <div v-if="filterAlbums(song)" v-for="song in musics" class="card">
          <img :src="song.poster" alt="New Jersey" />
          <h2 class="title">{{song.title}}</h2>
          <address class="author">{{song.author}}</address>
          <time datetime="1988" class="year">{{song.year}}</time>
          <p>{{song.genre}}</p>
        </div>
      </section>
    </main>
  </div>
  <!-- script -->
  <script src="js/script.js"></script>
</body>

</html>